Library/*
UserSettings/*
Temp/*
ProjectSettings/*
*.csproj
Logs/*
Packages/*
*.sln
Assets/Archive000/Level3/New Folder/building1.fbx
Assets/Archive000/Level3/New Folder/building1.fbx.meta
Assets/SkySeries Freebie/*
Assets/SkySeries Freebie.meta
Assets/Archive000/Level3/Building/building1.fbm.meta
